[submodule "catkin_ws/catkin_ws/src/robotiq_2finger_grippers"]
	path = catkin_ws/catkin_ws/src/robotiq_2finger_grippers
	url = https://github.com/Danfoa/robotiq_2finger_grippers.git
[submodule "catkin_ws/catkin_ws/src/fmauch_universal_robot"]
	path = catkin_ws/catkin_ws/src/fmauch_universal_robot
	url = https://github.com/fmauch/universal_robot.git
[submodule "catkin_ws/catkin_ws/src/Universal_Robots_ROS_Driver"]
	path = catkin_ws/catkin_ws/src/Universal_Robots_ROS_Driver
	url = https://github.com/UniversalRobots/Universal_Robots_ROS_Driver.git
